@import '../../vars.scss';
@import '../loading-animation.scss';

.detail-page {
    border-radius: 25px 0 0 0;
    width: 80vw;
    height: 60vh;
    margin: 4em;
    padding: 1em;
    font-family: $mont;
    background-image: url('https://www.publicdomainpictures.net/pictures/170000/velka/planet-fantasy-2.jpg#.XIAmjVwY_Js.link');
    clip-path: polygon(100% 0, 100% 41%, 64% 100%, 0 100%, 0 0);
    @include mobile {
        clip-path: polygon(100% 0, 100% 63%, 88% 100%, 0 100%, 0 0);
    }

}

.detail-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 2em 0 0;
    padding-left: 1em;
    border-radius: 25px 0 0 0;
    background-color: rgba(0, 0, 0, 0.5);
    .detail-back-btn {
        align-content: center;
        padding-left: 1.5em;
        margin-left: 2em;
        border-radius: $app-radius 0 0 $app-radius;
        font-family: $mont;
        font-size: 1.2em;
        width: 150px;
        opacity: 0.6;
        @include mobile{
            margin-left: 1em;
        };
    }
    .detail-back-btn:hover {
        box-shadow: 0 0 8px 0 rgb(215, 246, 255), 0 0 20px 0 rgba(118, 212, 255, 0.959);
        opacity: 0.7;
        cursor: pointer;
    }
}

.detail-description {
    font-size: 1.2em;
    color: white;
    margin-right: 2em;
    li {
        margin: 0.5em
    };
    strong {
        color: lighten($bg-color, 30%)
    }
    @include mobile {
        font-size: 1em;
    }
}

.lds-ripple {
    margin: 250% auto;
  }