
<div *ngIf="loading" class="lds-ripple"><div></div><div></div><div></div><div></div></div>
<div class="detail-page" *ngIf="planet">
    <div class="detail-header">
      <h2>{{ planet.name | uppercase }} Details</h2>
      <span class="detail-back-btn" (click)="goBack()"><p>Back to list</p></span>
    </div>

    <div class="detail-description">
      <ul>
        <li><strong>Rotation period: </strong>{{planet.rotation_period}}</li>
        <li><strong>Orbital period: </strong>{{planet.orbital_period}}</li>
        <li><strong>Diameter: </strong>{{planet.diameter}}</li>
        <li><strong>Climate: </strong>{{planet.climate}}</li>
        <li><strong>Gravity: </strong>{{planet.gravity}}</li>
        <li><strong>Terrain: </strong>{{planet.terrain}}</li>
        <li><strong>Surface water: </strong>{{planet.surface_water}}</li>
        <li><strong>Population: </strong>{{planet.population}}</li>
      </ul>
    </div>

</div>
  
            