@import '../../vars.scss';
@import '../loading-animation.scss';

.sticky {
    box-shadow: 0 3px 12px 0 rgba(0,0,0,.08);
    position: fixed;
    left: 12%;
    top: 1em;
    padding: 0.5em;
    margin: 0 auto;
    background-color: rgb(202, 202, 202);
    color: $bg-color;
    border-radius: $app-radius;
    border: none;
    width: 70%;
    font-size: 2em;
    z-index: 1
}

.sticky:hover {
    box-shadow: 0 0 8px 0 rgb(215, 246, 255), 0 0 20px 0 rgba(118, 212, 255, 0.959);
}
