<section class="web_homePage" (scroll)="onWindowScroll($event);">

  <input type="text" [(ngModel)]="searchText" class="animated fadeInDown" id="searchbar" placeholder="find your planet">
  <br>

  <pagination-controls class="my-pagination" (pageChange)="page =$event"></pagination-controls>

  <div class="btns" >
    <label class="page-btns">
        <span (click)="filterNumber(5); status=!status"  
        [ngClass]="status ? current : null">5</span>
        <span (click)="filterNumber(10)">10</span>
        <span (click)="filterNumber(25)">25</span>
        <span (click)="filterNumber(100)">100</span>
        planets per page
    </label>
  </div>
  <br>

  <div *ngIf="loading" class="lds-ripple"><div></div><div></div><div></div><div></div></div>

  <ul class="planets-list">
    <div>
    <li class="list-item" *ngFor="let p of planets | startsWith : searchText | paginate: { itemsPerPage:index, currentPage: page }">
      <a routerLink="/details/{{p.url.slice(29,32)}}">
          {{ p.name }}
      </a>
    </li>
    </div>
  </ul>

  
</section>