@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Orbitron');

@import './vars';

body, html {
    width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
    background: linear-gradient(259deg, rgba(238,174,202,1) 0%, rgba(66,94,128,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

.planets-header {
    display: flex;
    overflow-wrap: normal;
    justify-content: center;
    margin: -1em -5em 1em -5em;
    padding: 2em 0 1em 0;
    font-family: $orion;
    font-size: 3em;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 12px 0 rgba(0,0,0,.08);
    @include mobile {
        font-size: 2em;
    }
}

input {
    padding: 0.5em;
    display: flex;
    align-content: center;
    margin: 1em;
    background-color: rgb(81, 66, 100);
    box-shadow: 0 3px 12px 0 rgba(0,0,0,.08);
    color: white;
    border-radius: $app-radius;
    border: none;
    width: 70vw;
    font-size: 2em; 
    @include mobile {
        margin-top: 0.5em 
    }  
}

input:hover {
    box-shadow: 0 0 8px 0 rgb(215, 246, 255), 0 0 20px 0 rgba(118, 212, 255, 0.959);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.planets-list {
    display: flex;
    flex-direction: column;
    align-items: center
}

.list-item {
    a {
        display: flex;
        text-decoration: none;
        color: white;
        justify-content: center;
    }
    justify-items: center;
    font-family: 'Montserrat', sans-serif;
    margin: 0.5em;
    border-radius: 15px;
    font-size: 1.5em;
    padding: 0.7em;
    background-color: rgb(51, 46, 46);
    box-shadow: 0 3px 12px 0 rgba(0,0,0,.08);
    opacity: 0.8;
    min-width: 400px;
    width: 50%;
    @include mobile {
        min-width: 70%;
    }
}

.list-item:hover {
    box-shadow: 0 0 8px 0 rgb(215, 246, 255), 0 0 20px 0 rgba(118, 212, 255, 0.959);
    opacity: 1
}


.page-btns {
    span {
        padding: 0.3em;
        margin: 0.2em;
        cursor: pointer;
        font-family: $orion;
    }
    span:hover {
        background: rgb(202, 202, 202);
        border-radius: $app-radius
    }

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $orion;
    color: black;
    margin: 0 auto
}


.current {
    background: $bg-color;
    border-radius: $app-radius
}

.btns {
    display: flex;
    flex-direction: row;
    background: none
}

pagination-controls {
    display: flex;
    justify-content: center;
    font-family: 'Orbitron', medium, sans-serif;
    a:hover {
        border-radius: $app-radius;
        background-color: rgb(81, 66, 100)
    }
    .ngx-pagination .current {
        background: rgb(81, 66, 100);
        border-radius: $app-radius
    }

    .ngx-pagination li {
        border-radius: $app-radius
    }

    li:hover {
        background: none
    }

    @include mobile {
        font-size: 0.95em;
         .pagination-previous {
             position: absolute;
             top: 14.5em;
             left: 23%
                 }
         .pagination-next {
             position: absolute;
             top: 14.5em;
             left: 55%;
        }
    }
}