$padding: 2em;
$app-radius: 0.5em;
$orion: 'Orbitron', medium, sans-serif;
$mont: 'Montserrat', sans-serif;
$bg-color: rgb(81, 66, 100);

$mobile: 480px;

@mixin mobile {
    @media (max-width: #{$mobile}) {
        @content
    }
}